<div class="body">
  <div class="menu">
    <div class="profile">
      <label class="profile-title">Profile</label>

      <form class="profile-data" #editform="ngForm">
        <div class="input-flex">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            pInputText
            class="form-control"
            id="email"
            name="email"
            required
            pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          />
        </div>

        <div class="input-flex">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            pInputText
            class="form-control"
            id="username"
            name="username"
            required
          />
        </div>

        <div class="input-flex">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            pInputText
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>

        <div class="button-position">
          <button
            pButton
            type="submit"
            [disabled]="editform.form.invalid"
            label="Update"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>
